  <div class="site-contain">
  	<div class="site" id="primary">
	<br/>
         <!-- display-grouping-standings  *ngIf="topic=='standings'"></display-grouping-standings>
         <display-grouping-schedule  *ngIf="topic=='schedule'"></display-grouping-schedule>
         <display-grouping-scores  *ngIf="topic=='scores'"></display-grouping-scores>
         <display-grouping-bracket  *ngIf="topic=='bracket'"></display-grouping-bracket -->
	</div> <!-- #primary -->
   <div class="site" id="secondary">
   <p>
   Groupings will go here
  <!-- {{top_grouping_name() | titlecase}}  -->
   </p>
   <!-- display-grouping-navigation [grouping]="competition.grouping"></display-grouping-navigation -->
   </div>  <!-- #secondary -->
  </div>